/* Resetting default styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    height: 100%; /* Set height to 100% */
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    color: #333;
    overflow-y: auto; /* Show vertical scrollbar if needed */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    margin-bottom: 0; /* Remove default bottom margin */
}

.navbar {
    background-color: #001;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 999; /* Ensure navbar is above other content */
}

.logo img {
    height: 50px; /* Adjust logo height */
}

.navbar-links {
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #555;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* Adjusted margin */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black; /* Dropdown background color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 3px; /* Adjusted margin */
}

.dropdown-content a {
    color: white; /* Dropdown text color */
    padding: 12px 16px; /* Padding for normal state */
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, padding 0.3s; /* Add padding transition */
}

.dropdown-content a:hover {
    background-color: grey; /* Hover color */
    padding: 15px 16px; /* Increased padding on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Corrected CSS */
.plots-container {
    margin: 10px; /* Add margin around each visualization */
    display: flex;
    justify-content: center; /* Center visualizations horizontally */
    flex-direction: column; /* Display visualizations vertically */
    align-items: center;
}

.plot {
    margin: 10px; /* Add margin around each plot */
}

.row {
    display: flex; /* Use flexbox for rows */
    justify-content: center; /* Center plots within the row */
}
